.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.teamCard{
  max-height: 200px;
  max-width: 700px;
}

.teamCard >.TeamLogo{
  max-height: 200px;
  max-width: 200px;
}


.BasketballImgContainer{
  margin:0;
  padding:0;
  width:50px;
}

.titleDiv{
  padding-top:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ExplainP{
  padding-top:20px;
  width:50%;
  margin-left: 25%;
 margin-right: 25%;
 padding-bottom:20px;
}